* {
  padding: 0;
  margin: 0;
  font-size: 36px;
}

html {
  scroll-behavior: smooth;
}

#about,
#education,
#works,
#contact {
  position: sticky;
  position: -webkit-sticky;
}

#about {
  background-color: black;
  padding: 0.5em;
  color: white;
  top: 0;
}

#education {
  background-color: blue;
  padding: 0.5em;
  top: 2em;
}

#works {
  background-color: green;
  padding: 0.5em;
  top: 4em;
}
#contact {
  background-color: purple;
  padding: 0.5em;
  top: 6em;
}

.nav-link {
  line-height: 1.4;
  color: #fff;
}

.restart {
  cursor: pointer;
}

@media screen and (min-width: 60em) {
  #about,
  #education,
  #works,
  #contact {
    box-sizing: border-box;
  }

  #about {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 35%;
  }

  #education {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 50%;
    overflow-y: scroll;
  }

  #works {
    position: absolute;
    top: 25%;
    left: 0;
    width: 65%;
    height: 75%;
  }

  #contact {
    position: absolute;
    top: 50%;
    right: 0;
    height: 50%;
    width: 35%;
    overflow-y: scroll;
  }
}
