* {
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-family: "NowAltRegular";
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

nav {
  height: 100vh;
  position: fixed;
  width: 0;
  top: 0;
  left: 0;
  z-index: 2;
  color: wheat;

  transition: all 0.4s ease-out;
}

.main-nav-close-button {
  position: fixed;
  top: 1%;
  right: 3%;
  color: orangered;
  cursor: pointer;
}

a.navigation-link {
  color: white;
}

.main-nav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 0;
  height: 100%;
  background-color: #07090f;
  z-index: 30;
  opacity: 1;
  overflow-x: hidden;
  transition: all 0.4s ease-out;
  display: none;
  text-align: center;
}

.main-nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
/* 
.main-nav-link:hover {
  background-color: wheat;
  color: #07090f;
} */

a.nav-link {
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px black;
}

.nav-button {
  font-size: 24px;
  position: fixed;
  top: 50%;
  right: -2%;
  transform: rotate(90deg);
  color: black;
  z-index: 15;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  background-color: whitesmoke;
}

#about,
#background,
#works,
#contact {
  position: sticky;
  position: -webkit-sticky;
  border: 1px solid black;
  background-color: wheat;
  overflow-y: scroll;
}

#about {
  padding: 0.5em;
  top: 0;
  background-color: #faf9f9;
}

.about-text {
  font-size: 48px;
  margin-bottom: 1em;
  margin-top: 2em;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-restart-button {
  opacity: 0;
  transition: all 0.5s ease;
}

.about-restart-button,
.about-learn-more-button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: saddlebrown;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-align: left;
  margin-bottom: 1em;
}

.about-learn-more-arrow,
.about-restart-arrow {
  font-size: 32px;
  margin-left: 0.5em;
}

.about-learn-more-arrow-2 {
  display: none;
}

#background {
  padding: 0.5em;
  top: 0;
}

#works {
  padding: 0.5em;
  top: 0;
  background-color: whitesmoke;
  height: 100vh;
  overflow-y: scroll;
}

.work-image-container {
  display: none;
}

a.website-link {
  line-height: 1.4;
  color: black;
}

a.website-link:hover {
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px black;
}

.messenger-link {
  color: black;
}

h2.websites-header,
h2.uxui-header {
  font-size: 48px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

ul.websites-list,
ul.background-list,
ul.contact-list {
  list-style-type: none;
  margin-bottom: 1em;
}

.background-li-arrow {
  margin-right: 0.5em;
}

#contact {
  background-color: orange;
  padding: 0.5em;
  top: 6em;
}

.email-container,
.messenger-container {
  margin-top: 0.5em;
}

.fa-envelope {
  margin-bottom: 0.2em;
  font-weight: 800;
}

.fa-envelope,
.fa-facebook-messenger {
  margin-right: 0.5em;
}

.fa-envelope,
.fa-facebook-messenger,
.background-li-arrow {
  transition: 0.4s ease-in-out;
}

.fa-envelope:hover,
.fa-facebook-messenger:hover {
  transform: rotate(15deg);
}

.background-li-arrow:hover {
  transform: translateX(5px);
}

.nav-link {
  line-height: 1.4;
  font-size: 48px;
  padding-left: 0;
}

.restart {
  cursor: pointer;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

/*Works page styles*/
.single-work-title-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  transform: translateX(-50%);
  width: 200%;
  margin-bottom: 50em;
}

.single-work-title-container-inner {
  display: flex;
  white-space: nowrap;
  transform: translateX(-500%);
}

.single-work-title {
  display: flex;
  font-size: 48px;
  color: wheat;
}

.single-work-title:hover {
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px black;
}

.marquee {
  animation: marquee 12s linear infinite;
  padding: 0.5em 0.2em;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.about-page-title {
  position: absolute;
  top: 0;
  left: 0;
}

.about-page-title-text {
  font-size: 128px;
  transform: rotate(90deg) translate(256px, 256px);
  white-space: nowrap;
}

/*Single work page styles*/

.single-work-content-container {
  margin-top: 84px;
}

h2.single-work-details-header {
  font-size: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid orange;
  line-height: 2.4;
  /* background-color: ghostwhite; */
  /* padding-right: 108px; */
}
.single-work-content-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5em;
  grid-gap: 24px;
}

.single-work-details-text {
  font-size: 16px;
  width: 50%;
}

/*


*/

.single-work-content-main-text {
  width: 85%;
  margin-left: 12px;
  padding-top: 25px;
  line-height: 1.4;
}
i.fas.fa-user {
  margin-left: 5px;
  font-size: 24px;
}

h2.single-work-details-header {
  width: 65%;
}

h4.single-work-content-main-text-header {
  font-size: 24px;
}

p.single-work-content-main-text-p {
  font-size: 16px;
}

.project-navigation-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
/*
*/

.project-navigation-arrow-container {
  padding: 1em;
  transition: all 0.4s ease-in-out;

  display: flex;
}

.project-navigation:hover .project-navigation-arrow-container {
  transform: translateX(-100px);
}

.project-navigation:hover .project-navigation-arrow-container-right {
  transform: translateX(100px);
}

.project-next-arrow {
  margin-left: -85px;
  margin-right: 150px;
}

span.project-previous-arrow {
  margin-right: 65px;
}

.project-navigation {
  overflow: hidden;
  width: 125px;
}

#about-page {
  width: 100vw;
  overflow: hidden;
}

.about-page-title {
  z-index: 50;
}

.animoji-image {
  z-index: -1;
  width: 100%;
  border: 1px solid black;
}

.about-content {
  padding: 1em;
}

.about-content-header {
  margin-bottom: 12px;
}

.about-content-p {
  font-size: 16px;
  margin-bottom: 12px;
}

@media screen and (min-width: 60em) {
  #about,
  #background,
  #works,
  #contact {
    box-sizing: border-box;
  }
  /*About section desktop styles*/
  #about {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 35%;
  }
  /*Buttons for about section*/
  .about-restart-button {
    position: absolute;
    top: 10%;
    right: 2%;
  }

  a.nav-link {
    font-size: 68px;
  }

  .about-text {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  .about-learn-more-button {
    position: absolute;
    bottom: 10%;
    transform: translateY(50%);
    right: 2%;
    cursor: pointer;
  }

  .about-learn-more-arrow,
  .about-restart-arrow {
    font-size: 32px;
    transition: all 0.4s ease-in-out;
  }

  .about-learn-more-arrow-2 {
    display: initial;
  }

  .about-restart-button:hover .about-restart-arrow {
    transform: rotate(-360deg);
  }

  .learn-more-button-arrow-container {
    width: 52px;
    overflow: hidden;
    display: flex;
  }

  .about-learn-more-arrow {
    transform: translateX(-52px);
  }

  .about-learn-more-button:hover .about-learn-more-arrow {
    transform: translateX(-8px);
  }

  .nav-button {
    right: 0.5%;
  }

  #background {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 55%;
    overflow-y: scroll;
  }

  .background-li,
  .contact-list-li {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
  }

  .contact-list-li,
  .background-li {
    display: flex;
  }

  ul.contact-list {
    margin-top: 1em;
  }

  #works {
    position: absolute;
    top: 35%;
    left: 0;
    width: 65%;
    height: 65%;
    overflow-y: scroll;
  }

  .work-image-container {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 0;
  }

  ul.websites-list {
    z-index: 1;
  }

  .work-image {
    width: 25%;
    height: 25%;
    display: none;
  }

  .works-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
  }

  #contact {
    position: absolute;
    top: 55%;
    right: 0;
    height: 45%;
    width: 35%;
    overflow-y: scroll;
  }
  /* 
  .email-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    line-height: 1.4;
  }

  .messenger-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  } */

  .single-work-content-details {
    position: fixed;
    left: 54%;
  }

  .single-work-details-text {
    font-size: 24px;
  }

  h2.single-work-details-header {
    font-size: 16px;
  }

  .single-work-content-container {
    margin-top: 165px;
  }

  .single-work-content-main-text {
    width: 45%;
    margin-left: 65px;
  }

  h2.websites-header,
  h2.uxui-header {
    font-size: 68px;
  }

  .single-work-title {
    font-size: 96px;
  }

  .single-work-content-main-text-p {
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 1.9;
  }

  .about-page-title-text {
    font-size: 128px;
    transform: rotate(90deg) translate(256px, 256px);
    white-space: nowrap;
  }

  #about-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .animoji-image {
    z-index: -1;
    width: 65%;
    border: 1px solid black;
  }

  .project-navigation-container {
    width: 45%;
    position: fixed;
    right: 0;
    bottom: 0%;
  }
}
