* {
  padding: 0;
  margin: 0;
  font-size: 36px;
}

html {
  scroll-behavior: smooth;
}

#about,
#education,
#works,
#contact {
  position: sticky;
  position: -webkit-sticky;
  height: 50vh;
  overflow: scroll;
}

#about {
  background-color: black;
  padding: 0.5em;
  color: white;
  top: 0;
  height: 25vh;
}

#education {
  background-color: blue;
  padding: 0.5em;
  top: 2em;
}

#works {
  background-color: green;
  padding: 0.5em;
  top: 4em;
}
#contact {
  background-color: purple;
  padding: 0.5em;
  top: 6em;
  height: 15.5em;
}

.nav-link {
  line-height: 1.4;
  color: #fff;
}
